<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="styles/custome.css" type="text/css"> </head>

<body class="background-hitam">
  <nav class="navbar navbar-expand-md background-hitam navbar-dark ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
      </button>
        <a class="navbar-brand text-white" href="#"><img src="image\sirenelogoflat.jpg"></img></a>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-home mx-1"></i>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-user-circle-o mx-1"></i>Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-user-plus mx-1"></i>Daftar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-user-circle-o mx-1"></i>Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        </div>
      </nav>
  <div class="py-2 text-center background-hitam">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2 mt-2 text-white">Anime</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container cardsview">
      <div class="row">
        <div class="col-md-5 ">
         <h1 class="mb-2 mt-2 text-center text-black"><%= anime.nama_anime %></h1> 
          <img class="img-fluid d-block mb-4 w-100 h-75 img-thumbnail" src="http://localhost:1337/images/anime/<%= anime.photo_url %>"> 
          <button type="submit" class="btn btn-warnabiru ">Favorite</button>
          </div>
        <div class="col-md-7">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">Deskripsi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">Tonton</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">Admin Posting</a>
            </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                  <p class=""><%= anime.deskripsi %></p>
                  <div class="card">
                      <div class="card-header"> Informasi </div>
                      <div class="card-body">
                        <table>
                          <tr>
                            <td width='120px'>Judul</td>
                            <td width='20px'>:</td>
                            <td>
                              <%= anime.nama_anime %>
                            </td>
                          </tr>
                          <tr>
                            <td>Type</td>
                            <td>:</td>
                            <td>
                              <%= anime.type %>
                            </td>
                          </tr>
                          <tr>
                            <td>Status</td>
                            <td>:</td>
                            <td>
                              <%= anime.status %>
                            </td>
                          </tr>
                          <tr>
                            <td>Genre</td>
                            <td>:</td>
                            <td>
                              <%  _.each(anime.genreStrings,function(genre_list){ %>
                                <a href="#">
                                  <%= genre_list.nama_genre %>
                                </a>
                                <%})%>
                            </td>
                          </tr>
                          <tr>
                            <td>Tahun Terbit</td>
                            <td>:</td>
                            <td>
                              <%= anime.tahun_terbit %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
            </div>
            <div class="tab-pane fade " id="tabtwo" role="tabpanel">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="textcenter">Judul Anime</th>
                      <th class="textcenter">Episode</th>
                      <th class="textcenter">Tanggal Rilis</th>
                      <th colspan="2" class="textcenter">Tonton</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="textcenter">1</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                      <td>
                        <button type="submit" class="btn btn-warnabiru">Indonesia</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-warnabiru">Indonesia</button>
              </div>
            </div>
            
            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 text-center background-hitam">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2 text-white">Rating Anime</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-2 ">
    <div class="container cardsview">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <div class="col-md-10 m-5 py-5">
                <h1 class="">3.9 Dari 5</h1>
                <h6 class="">Banyak Ulasan 50 Orang</h6>
                <div class="starcontainer">
                  <span class="fa fa-star colorbintang"></span>
                  <span class="fa fa-star colorbintang"></span>
                  <span class="fa fa-star colorbintang"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="col-md-5  mt-3">
              <h5 class="mb-1">Bintang 5</h5>
              <h6>Banyak Ulasan</h6>
              <div class="progress mb-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">50%</div>
              </div>
              <h5 class="mb-1">Bintang 4</h5>
              <h6>Banyak Ulasan</h6>
              <div class="progress mb-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">50%</div>
              </div>
              <h5 class="mb-1">Bintang 3</h5>
              <h6>Banyak Ulasan</h6>
              <div class="progress mb-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">50%</div>
              </div>
              <h5 class="mb-1">Bintang 2</h5>
              <h6>Banyak Ulasan</h6>
              <div class="progress mb-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">50%</div>
              </div>
              <h5 class="mb-1">Bintang 1</h5>
              <h6>Banyak Ulasan</h6>
              <div class="progress mb-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%">50%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 text-center background-hitam">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2 text-white">Review Anime</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4 ">
      <div class="container cardsview">
        <div class="row">
          <div class="col-md-12 p-4">
            <%  _.each(anime.userStrings.slice(0,3),function(user){ %>
  
  
              <div class="row  border py-2 mb-2">
                <div class="col-sm-2 text-center">
                  <% if(user.photo_url) {%>
                    <a href="#">
                      <img class="d-block img-fluid mb-2" src="/images/user/<%= user.photo_url %>"> </a>
                    <%}
                else{ %>
                      <a href="#">
                        <img class="d-block img-fluid mb-2" src="/images/user/default.png"> </a>
                      <%}%>
  
                </div>
                <div class="col-sm-9">
                  <h3>
                    <%= user.nama %>
                  </h3>
                  <div>
                    <span class="fa fa-star colorbintang"></span>
                    <span class="fa fa-star colorbintang"></span>
                    <span class="fa fa-star colorbintang"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <% if(user.review){%>
                    <p class="">
                      <%= user.review %>
                    </p>
                    <%}
                  else{%>
                      <p></p>
                      <%}%>
  
                </div>
              </div>
              <%})%>
              <div class="col-md-12 textright mx-3 mt-1">
                  <a href="register.html" class="warnabiru">
                    <u>
                      <b>Lihat Review</b>
                    </u>
                  </a>
          </div>
        </div>
        
      </div>
      
    </div>
  <div class="py-2 text-center background-hitam">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2 text-white">Review</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-2 ">
    <div class="container cardsview">
      <div class="row">
        <div class="col-md-12 p-4">
          <div class="row">
            <div class="col-sm-2 text-center">
              <a href="#">
                <img class="d-block img-fluid" src="image\onepiece.jpg"> </a>
            </div>
            <div class="col-sm-9">
              <h4>Beri Rating</h4>
              <div>
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <p class="">Isi Riview.</p>
              <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea>
              <button type="submit" class="mt-2 btn btn-warnabiru">Kirim</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center background-hitam">
      <div class="container">
        <div class="row ">
          <div class="col-md-12">
            <h1 class="mb-4 text-white">Rekomendasi Anime</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-6 p-1 ">
            <a href="#">
              <img class="d-block img-fluids" src="/images/anime/ID_132.jpg"> </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a href="#">
              <img class="d-block img-fluids" src="/images/anime/ID_131.jpg"> </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a href="#">
              <img class="d-block img-fluids" src="/images/anime/ID_133.jpg"> </a>
          </div>
          <div class="col-md-3 col-6 p-1">
            <a href="#">
              <img class="d-block img-fluids" src="/images/anime/ID_134.jpg"> </a>
          </div>
          <div class="col-md-12 lihatrekomendasi">
            <a href="#">
              Lihat Rekomendasi
            </a>
          </div>
        </div>
      </div>
    </div>
  <div class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>

</html>