
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> 
  <link rel="stylesheet" href="styles/custome.css" type="text/css">  
  </head>

<body class="background-hitam">
  <nav class="navbar navbar-expand-md background-hitam navbar-dark ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
      </button>
        <a class="navbar-brand text-white " href="#"><img src="/images/logo/logo.jpg"></img></a>
        <div class="collapse navbar-collapse" style="width:100%;" id="navbarsExample04">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-2">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-home mxnav" ></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-list mxnav "></i> Daftar Anime</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-thumbs-o-up mxnav"></i> Rekomendasi</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa d-inline fa-lg fa-bell-o mxnav"></i> Notif
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">
              <i class="fa d-inline fa-lg fa-user-circle-o mxnav"></i> <%= userProfil.nama %></a>
            </li>
          </ul>
          
        </div>
        </div>
      </nav>
      <div class="py-2 text-center background-hitam">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="mb-2 mt-2 text-white">Profile</h1>
            </div>
          </div>
        </div>
      </div>
    <div class="py-1">
    <div class="container cardsview">
      <div class="row mt-1 mb-2">
          <div class="col-md-3 ">
              <%
                if(userProfil.photo_url){%>
                    <img class="img-thumbnail" src="/images/user/<%=userProfil.photo_url%>">
                <%}
                else{%>
                    <img class="img-thumbnail" src="/images/user/default.png">
                <%}
              %>
            
          </div>
          <div class="col-md-8">
             <h1 ><%= userProfil.nama %>
              <a style="font-size:14px;" href="/user/edit-profile/<%= userProfil.id %>" class="warnabiru">
                <u>
                  <b>Edit</b>
                </u>
                </a>
              </h1>
             <h4><i class="fa d-inline fa-envelope-o mxnav "></i> <%= userProfil.email %></h4>
             <h4><i class="fa d-inline fa-phone mx-1 "></i><%= userProfil.no_hp %></h4>
             <%
                if(userProfil.tgl_lahir){%>
                    <h4><i class="fa d-inline fa-calendar-o mxnav "></i> <%= userProfil.tgl_lahir %></h4>
                <% }
                else{%>
                    <h4><i class="fa d-inline fa-calendar-o mxnav "></i> 19 Januari 1990</h4>
                <% }
             %>
             
          </div>
      </div>
    </div>
    </div>
    <div class="py-2 text-center background-hitam">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="mb-2 mt-2 text-white">Anime Favorite</h1>
            </div>
          </div>
        </div>
    </div>
    <div class="mb-2 ">
    <div class="container cardsview ">
      <div class="row">
        <div class="col-md-12 p-4 ">
          <div class="row border py-2">
            <div class="col-sm-2 text-center">
              <a href="#">
                <img class="d-block img-fluid mb-2" src="image\onepiece.jpg"> </a>
            </div>
            <div class="col-sm-9">
              <h3 class="mx-1">Nama Profil</h3>
              <div class="mx-1">
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star colorbintang"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
             <h6><a href="#"><i class="fa fa-gear mxnav "></i> Pengaturan</a></h6>
             <h6><a href="#"><i class="fa fa-trash-o mxnav "></i> Hapus</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="py-2 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>